body{
  background-color: #7286A0;
  font-family: 'Roboto Flex', sans-serif;
  text-align: center;
}

.container{
  margin: 10px auto;
  padding: 20px 0;
  width: 600px;
  background-color: #4A5563;
  border-radius: 25px;
}

h1, h2, a{
  color: #D4D9E0;
}

p{
  color: #D4D9E0;
  font-size: 24px;
}

a{
  text-decoration: none;
}

a:hover{
  color: black;
  background-color: #E5BEED;
}

ul{
  list-style-type: none;
  padding-left: 0;
  font-size: 50px;
  letter-spacing: 25px;
  margin: 10px;
}

li{
  display: inline;
}

img{
  border-radius: 50%;
}

.profile{
  max-height: 200px;

  border:#7286A0 dotted;
}

.button{
  background-color: #9593D9;
  border-radius: 5px;
  padding: 10px;
}

ul a:hover{
  background-color: #4A5563;
}

@media only screen and (max-width: 375px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 350px;
  }
}
